[submodule "vim/bundle/dracula-theme"]
	path = vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
