"*":
  "atom-package-deps":
    ignored: []
  "autocomplete-emojis":
    enableMarkdownEmojis: false
  "autocomplete-python":
    useKite: false
  core:
    packagesWithKeymapsDisabled: [
      "last-cursor-position"
      "expand-region"
      "multi-cursor"
      "project-manager"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "inconsolata-g"
    fontSize: 20
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "99013d38-c828-0207-0013-3ab9d183e871"
  "expand-region": {}
  "linter-ui-default":
    panelHeight: 69
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    scrollPastEnd: true
