packages: [
  "busy-signal"
  "dracula-syntax"
  "expand-region"
  "hyperclick"
  "hyperlink-hyperclick"
  "intentions"
  "language-scala"
  "language-scala-plus"
  "linter"
  "linter-flake8"
  "linter-ui-default"
  "multi-cursor"
  "package-sync"
  "project-manager"
  "set-syntax"
  "tasks"
]
