packages: [
  "atom-beautify"
  "autocomplete-emojis"
  "autocomplete-python"
  "busy-signal"
  "dracula-syntax"
  "expand-region"
  "highlight-selected"
  "hyperclick"
  "hyperlink-hyperclick"
  "intentions"
  "language-scala"
  "language-scala-plus"
  "last-cursor-position"
  "linter"
  "linter-ui-default"
  "multi-cursor"
  "package-sync"
  "pigments"
  "project-manager"
  "random"
  "seti-ui"
  "ukelele-atom-syntax"
]
